# Django
django==2.2
django-extensions==2.1.6
Pillow==6.0.0

# Django REST Framework
djangorestframework==3.11.2
django-filter==2.1.0

# Syntax
pylint==2.3.1
pylint-django==2.0.8

# Database
psycopg2-binary

# Payment method
stripe==2.28.0

# CORS
django-cors-middleware==1.3.1

# Deployment
gunicorn==19.9.0

# Static files
whitenoise==4.1.2

# Storage
django-storages==1.7.1
dropbox==9.4.0
